* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Scope One', serif;
  overflow: hidden;
}

section {
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#intro h1 {
  display: block;
  font-size: 5vw;
  text-align: center;
}

#introWrapper {
  margin-top: -50px
}

#introForm {
  display: block;
  /*border-top: 5px solid #fefefe;*/
  border-bottom: 5px solid #fefefe;
  padding:30px;
  position: relative;
  z-index: 1001;
}

#introForm input {
  font-size: 3vw;
}

#registrationError {
  text-align: center;
  margin-top: 10px;
  color: #ca5959;
  display: none;
}

#debug {
  height: 200px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  border-top: 1px solid black;
  color: #fefefe;
  font-size: 12px;
  font-family: Arial, sans-serif;
  overflow-x: scroll;
  line-height: 16px;
  padding: 10px;
  -webkit-transition: bottom 0.5s; /* Safari */
  transition: bottom 0.5s;
}

#debug .contents
{
  width:100%;
  min-height:100%;
  bottom:0;
}

#debug.closed {
  bottom: -210px;
}

#debug .line {
  pointer-events: none;
}

#graphics {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index: 999;
}

/* ===  Input form formatting    === */
input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  color: white;
  background-color: transparent;
  font-size: 36.66667px;
  transition: .3s ease;
  text-align: center;
  font-family: 'Scope One', serif;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fefefe;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fefefe;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fefefe;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fefefe;
}

/* === Fade in ===*/
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* === Vingnette ===*/

.vignette
{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  padding: 0;
  margin:0;
  -webkit-box-shadow: inset 0px 0px 50vw 5vw rgba(0,0,0,0.09);
  -moz-box-shadow: inset 0px 0px 50vw 5vw rgba(0,0,0,0.09);
  box-shadow:inset 0px 0px 50vw 5vw rgba(0,0,0,0.09);
  pointer-events:none;
  background-color:rgba(230, 187, 118, 0.1);
  z-index: 1002;
}

/* === Buttons === */
#soundSelector, #colorSelector {
  position:relative;
  display:block;
  height: 50px;
  z-index: 1001;
  width:300px;
  margin: 0px auto 50px auto;
}

.soundButton, .colorButton {
  height: 50px;
  width: 50px;
  background-color: #cdffc0;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  margin-left: -25px;
  color: #828282;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 46px -17px rgba(148,148,148,1);
  -moz-box-shadow: inset 0px 0px 46px -17px rgba(148,148,148,1);
  box-shadow: inset 0px 0px 46px -17px rgba(148,148,148,1);
}

.soundButton.selected, .colorButton.selected {
  border: 2px solid #f8f8f8;
}

.soundButton:hover, .colorButton:hover  {
  /* background-color: #f2fbf0; */
  -webkit-box-shadow: inset 0px 0px 46px -17px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 46px -17px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 46px -17px rgba(255,255,255,1);
}



/* === Color pallete === */

.color_1
{
  background-color: #86c8d6;
  color: #fefefe;
}

.color_2
{
  background-color: #d6eaf1;
  color: #444;
}

.color_3
{
  /*background-color: #37444e;*/
  background-color: #000000;
  color: #fefefe;
}

.color_4
{
  background-color: #ffcce6;
  color: #fefefe;
}

.color_5
{
  background-color: #d35796;
  color: #fefefe;
}

/* ============== Leap Motion ============ */

.hand
{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 15px;
}

#pattern {
  position: absolute;
  top: 50vh;
  width: 100vw;
}

#patternInput {
  font-size: 17px;
  text-decoration: underline;
}

#patternApplyButton
{
  border: 2px solid white;
  font-size: 17px;
  display: block;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
}

#patternApplyButton:active
{
  background-color: #ccc;
}
