* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Scope One', serif;
  overflow: hidden;
}

section {
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#intro h1 {
  display: block;
  font-size: 7vw
}

#introForm {
  display: block;
  /*border-top: 5px solid #fefefe;*/
  border-bottom: 5px solid #fefefe;
  padding:30px;
  position: relative;
  z-index: 1001;
}

#introForm input {
  font-size: 4vw;
}

#registrationError {
  text-align: center;
  margin-top: 10px;
  color: #ca5959;
  display: none;
}

#debug {
  height: 200px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  border-top: 1px solid black;
  color: #fefefe;
  font-size: 12px;
  font-family: Arial, sans-serif;
  overflow-x: scroll;
  line-height: 16px;
  padding: 10px;
  -webkit-transition: bottom 0.5s; /* Safari */
  transition: bottom 0.5s;
}

#debug .contents
{
  width:100%;
  min-height:100%;
  bottom:0;
}

#debug.closed {
  bottom: -210px;
}

#debug .line {
  pointer-events: none;
}

#graphics {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index: 999;
}

/* ===  Input form formatting    === */
input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  color: white;
  background-color: transparent;
  font-size: 36.66667px;
  transition: .3s ease;
  text-align: center;
  font-family: 'Scope One', serif;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fefefe;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fefefe;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fefefe;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fefefe;
}

/* === Fade in ===*/
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* === Vingnette ===*/

.vignette
{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    padding: 0;
    margin:0;
    -webkit-box-shadow: inset 0px 0px 50vw 5vw rgba(0,0,0,0.09);
    -moz-box-shadow: inset 0px 0px 50vw 5vw rgba(0,0,0,0.09);
    box-shadow:inset 0px 0px 50vw 5vw rgba(0,0,0,0.09);
    pointer-events:none;
    background-color:rgba(230, 187, 118, 0.1);
    z-index: 1002;
}

/* === Color pallete === */

.color_1
{
  background-color: #86c8d6;
  color: #fefefe;
}

.color_2
{
  background-color: #d6eaf1;
  color: #444;
}

.color_3
{
  background-color: #37444e;
  color: #fefefe;
}

.color_4
{
  background-color: #ffcce6;
  color: #fefefe;
}

.color_5
{
  background-color: #d35796;
  color: #fefefe;
}
